body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #222;
}

.content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-detail {
    display: flex;
    flex-direction: column;
}

.article-header {
    margin-bottom: 10px;
}

.article-actions {
    display: flex;
    align-items: center;
}

.article-actions form {
    margin-right: 10px;
}

.article-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.article-actions button.active {
    color: #007bff;  }

.article-actions button i {
    margin-right: 5px;
}
