body {
    font-family: Arial, sans-serif;
    width: 80%;
    height: 100vh;
    background-color: beige;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px;
    background-image: url("register.jpg"); /* The image used */
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
.cont{
    margin: auto;
    background: rgba(10, 10, 10, 0.32);
    height: 60vh;
}
input {
    display: block;
    padding: 10px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;

}
.fir_las{
    display: flex;
}

.fir_las input {
    width: 178px
}

button {
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    background-color: blue;
    color: white;
    font-size: 17px;
}

button:hover {
    background-color: darkblue;
}

.span {
    position: absolute;
    display: flex;
    z-index: 100001;
    top: 30px;
    right: 110px;
    color: #d7bcbc;
}

a {
    display: block;
    margin: auto 10px;
    width: 150px;
    color: #000000;
}

p {
    display: block;
    padding: 10px;
    width: 150px;
    margin: 5px auto;
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}
label{
    color: white;
}

.container {
    width: 300px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=number] {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
}

input[type=submit] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}