<!DOCTYPE html>
<html lang="en">
{% include "login_head.html" %}
<body>
<div class="cont">
    <form method="post">
        <h1>Hello</h1>
        {% csrf_token %}
        <label>
            <input name='email' type="email" placeholder="Emailingizni kiriting">
        </label>
        <label>
            <input name='password' type="password" placeholder="Passwordingizni kiriting">
        </label>
        <a href="{% url 'forgot_password' %}" style="color: #77a4d0">Forgot password?</a>
        <button type="submit">Sign In</button>
        <span class="span">
            <a href="{% url 'register' %}">Create an account</a>
        </span>
    </form>
</div>
</body>
</html>