<!DOCTYPE html>
<html lang="en">
{% include "login_head.html" %}
<body>
<div class="cont">
    <form method="post">
        <h1>Register page</h1>
        {% csrf_token %}
        <label for="">Email</label>
        <label>
            <input name='email' type="email" placeholder="Enter the your email">
        </label>
        <label for="">First Name</label>
        <label>
            <input name='first_name' type="text" placeholder="Enter the your name">
        </label>
        <label for="">Last Name</label>
        <label>
            <input name='last_name' type="text" placeholder="Enter the your surname">
        </label>
        <label for="">Password</label>
        <label>
            <input name='password1' type="password" placeholder="Enter the password">
        </label>
        <label for="">Confirmation Password</label>
        <label>
            <input name='password2' type="password" placeholder="Enter again the password">
        </label>
        <button type="submit">Send</button>
    </form>

</div>
</body>
</html>