<!DOCTYPE html>
<html lang="en">
{% include "login_head.html" %}
<body>
<div class="cont">
    <form method="post">
        <h1>Create an account</h1>
        {% csrf_token %}
        <label>
            <input name='email' type="email" placeholder="Email">
        </label>
        <div class="fir_las">

            <label>
                <input id="first" name='first_name' type="text" placeholder="First name">
            </label>
            <label>
                <input id="last" name='last_name' type="text" placeholder="Last name">
            </label>
        </div>
        <label>
            <input name='password1' type="password" placeholder="Enter the password">
        </label>
        <label>
            <input name='password2' type="password" placeholder="Enter again the password">
        </label>
        <button type="submit">Create personal account</button>
        <span class="span">
            <span>Already have an account?</span>
            <a href="{% url 'login' %}">Sign in</a>
        </span>
    </form>

</div>
</body>
</html>